.home_container {
    display: flex;
    height: 100vh;
    margin-top: 0%;

  }
     
.home_content {
  flex: 1;
  background-color: rgb(240,255,255);
}
  
.home_body{
  padding: 40px;
  margin-left: 250px;
}


