.home_container {
    display: flex;
    background-color: #c8e7fa;
    min-height: 100vh;
}
     
.home_content {
  background-color: rgb(240,255,255);
  flex-grow: 1;
  margin-right: 20px;
  margin-bottom: 20px; 
}
  
.home_body{
  padding: 50px;
     
  
}

.home_body h1 {
  font-size: 48px;
  font-family: 'Arial', sans-serif;
  color: #3ca9e2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
}



