.requests {
    padding: 50px;
    background-color: rgb(240,255,255);
    margin-bottom: 20px;    
    min-height: 77vh;
}

.requests h1 {
  text-align: center;
  padding: 50px;
}


.reqtable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.reqtable thead {
  background-color: #fff;
  color: #3ca9e2;
  font-size: x-large;
}


.reqtable th,
.reqtable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #3ca9e2;
}

.reqtable th {
  font-weight: bold;
}

.reqtable tbody {
    font-size: medium;
}

.reqtable tbody tr:nth-child(even) {
  background-color: #fff;
}

.reqtable tbody tr:hover {
  background-color: #c8e7fa;
}

.requests_container {
  display: flex;
  background-color: #c8e7fa;
}

.requests_content {
  flex-grow: 1;
  margin-right: 20px;
}



.icon_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-right: 5%;
}


.icon_container :hover{
    color: blue;
}

.add_role {
    align-items: center;
    text-align: center;
}

.add_role h3{
  color:  gray;
  opacity: 0.5;
}

.no_requests {
    text-align: center;
    padding: 15%;
    background-color: #c8e7fa;
}

.actions_accept {
  display: inline-flex;
  margin-left: 20px;
  justify-content: flex-end;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: green;
}

.actions_decline {
  display: inline-flex;
  margin-left: 20px;
  justify-content: flex-end;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.actions_decline :hover {
  color: rgb(77, 5, 5);
}

.actions_accept:hover {
  color: rgb(3, 56, 3);
}


