
.sidebar {
    width: 250px;
    background-color: #c8e7fa;
    color: #fff;
    height: 100%;
    position: relative;
  }


  .sidebar-inner{
    background-color: #c8e7fa;
    width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;

  }

  .menu_bars{
    display: flex;
    font-size: x-large;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
    
  }

 
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
  }
  
  .profile_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(210, 245, 245);
  }
  
  .profile_name {
    font-size: 18px;
    text-align: center;
  }
  
  
  .side_bar_menu {
    list-style: none;
    margin-top: 40px;
  }
  
  .side_bar_item{
    align-items: center,center;
    display: flex;
  
  }
  
  .side_bar_links{
    margin-top: 30px;
    font-size: 20px;
  }
  
  .side_bar_links h3:hover,
  .side_bar_links:hover,
  .menu_bars:hover{
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  


  
  
  .side_bar_item .svg-inline--fa{
    width: 20px;
    height: auto;
  }


  .side_bar_menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }


  .side_bar_item_content {
    display: flex;
    align-items: center;
  }
  
  .side_bar_item_content h3 {
    margin-left: 10px;
  }
  

  @media (max-width: 960px) {
    .hide-text .side_bar_links {
      font-size: 0;
      overflow: hidden;
      display: inline-block;
      width: 0;
      transition: width 0.2s ease;
    }
    
    .hide-text .side_bar_links svg {
      width: 20px;
    }
    
    .hide-text .side_bar_links:hover {
      width: auto;
    }
  }




  /*sidebar diminuida*/
  .sidebar.collapsed {
    width: 125px;
  }

  .sidebar.collapsed .profile{
    width: 125px;
  }

  .sidebar.collapsed .sidebar-inner {
    width: 125px;
    align-items: center;
  }
  
  .sidebar.collapsed .side_bar_links h3{
    font-size: 0;
    overflow: hidden;
    display: inline-block;
    width: 0;
    transition: width 0.2s ease;
  }
  
  .sidebar.collapsed .side_bar_item{
    margin-left: 10px;
  }



  .sidebar.collapsed .side_bar_links:hover {
    width: auto;
    border-bottom: none;
  }

  

  /*Quando se está na pagina, o respetivo link fica a azul*/
  .side_bar_item.active .side_bar_links {
    color: #329dd5;
    /* Add any other styles you want for the active link */
  }
  
