.users {
    padding: 50px;
    background-color: rgb(240,255,255);
    min-height: 77vh;
    margin-bottom: 20px;    

}

.users h1 {
  text-align: center;
  padding: 20px;
}



.userstable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  padding: 50px;
}

.userstable thead {
  background-color: #fff;
  color: #3ca9e2;
  font-size: x-large;
}


.userstable th,
.userstable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #3ca9e2;
}

.userstable th {
  font-weight: bold;
}

.userstable tbody {
    font-size: medium;
}

.userstable tbody tr:nth-child(even) {
  background-color: #fff;
}

.userstable tbody tr:hover {
  background-color: #fff;
}

.users_container {
  display: flex;
  background-color: #c8e7fa;
}

.users_content {
  flex-grow: 1;
  margin-right: 20px;
}


.actions {
  display: inline-flex;
  margin-left: 20px;
  justify-content: flex-end;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
}

.actions-trash {
  display: inline-flex;
  margin-left: 20px;
  justify-content: flex-end;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.actions-trash :hover {
  color: rgb(77, 5, 5);
}

.actions:hover {
  color: rgb(6, 6, 92);
}

.search_bar input {
    background-color: #fff;
    border-radius: 0%;
}


